# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# ============================
# Entornos virtuales
# ============================
.venv/
venv/
env/

# ============================
# Archivos de configuración / entorno
# ============================
.env
.env.*    # Ej: .env.local, .env.dev
*.sqlite3

# Mantén este para compartir ejemplo de variables
!.env.example

# ============================
# IDEs / Editores
# ============================
# PyCharm / IntelliJ
.idea/

# VSCode
.vscode/

# ============================
# Logs
# ============================
*.log
*.out
*.err

# ============================
# Otros
# ============================
.DS_Store       # macOS
Thumbs.db       # Windows
